*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}


.nav-item{
    padding-top: 10px;
}

.nav-button{
    border: 1px;
    border-radius: 7px;
    margin-top: 6px;
}

.nav-img_logo{
    width: 30px;
    height: 30px;
}

.pagination{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.box {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    margin: 0.5rem;
    padding: 1rem;
    flex: 1 1 calc(33.333% - 1rem); /* 3 cột */
}

@media screen and (max-width: 768px) {
    .box {
      flex: 1 1 calc(50% - 1rem); /* 2 cột */
    }
  }

  /* Responsive cho Mobile */
  @media screen and (max-width: 480px) {
    .box {
      flex: 1 1 100%; /* 1 cột */
    }
    
    ul {
      flex-direction: column; /* Menu dọc */
    }
  }